.projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 90vw;
	margin: 0 5vw;

	word-break: break-word;
}

.year-separator {
	width: 90vw;
	margin: 1rem auto;
	margin-top: 2rem;
}

@media (max-width: 1000px) {
	.projects {
		width: 100vw;
		margin: 0;
	}

	.year-separator {
		width: 100vw;
	}
}

.projects-subtitle, .page-link {
	text-align: center;
}
.page-link a {
	color: white;
	text-decoration: none;
}
.page-link a:hover {
	text-decoration: underline;
}
