html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	padding-top: 1.5em;

	font-family: 'Open Sans', sans-serif;

	background: #222222;
	color: white;

	overflow-x: hidden;
}

h2 {
	text-align: center;
}