---
import Contact from '../components/Contact';
import HomePresentation from '../components/HomePresentation';
import Projects from '../components/Projects';

import ProjectsData from '../data/ProjectsData.js';

import '../styles/index.css';

const projects = ProjectsData.getProjects();

const age = Math.floor((Date.now() - (new Date('1998-06-29 00:00:00')).getTime()) / (365.25 * 24 * 60 * 60 * 1000));
const workingTime = Math.floor((Date.now() - (new Date('2013-12-01 00:00:00')).getTime()) / (365.25 * 24 * 60 * 60 * 1000));
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Elanis</title>
	</head>
	<body>
		<HomePresentation age={age} workingTime={workingTime} />
		
		<Projects projects={projects} />

		<Contact />
	</body>
</html>