<div id="loading">
    <ul id="loading-list">
        <li><span class="yellow-cli">[!]</span>:./action.SYSTEM.BOOT</li>
        <li><span class="yellow-cli">[!]</span>:./action.INIT.PORTFOLIO</li>
        <li><span class="yellow-cli">[!]</span>:./action.INIT.SKILLS</li>
        <li><span class="yellow-cli">[!]</span>:./action.INIT.PROJECTS.LIST</li>
        <li><span class="yellow-cli">[!]</span>:./action.INIT.PROJECTS.HISTORY</li>
        <li><span class="yellow-cli">[!]</span>:./action.SEEKING.ULTIMATE.ANSWER</li>
        <li><span class="yellow-cli">[!]</span>:./action.GENERATING.LYOKO.WORLDS</li>
        <li><span class="yellow-cli">[!]</span>:./action.CALLING.DESTINY</li>
        <li><span class="yellow-cli">[!]</span>:./action.LOAD.UI</li>
        <li>HELLO WORLD !</li>
        <li>guest@elanis.eu:~$ <span class="green-cli">&#9608;</span></li>
    </ul>
</div>