<ul class="socialnetworks">
    <li><a href="https://steamcommunity.com/id/elanis42/" target="_blank"><img src="@ViewData["cdnURL"]img/steam.png" alt="steam"></a></li>
    <li><a href="mailto:***REMOVED***" target="_blank"><img src="@ViewData["cdnURL"]img/mail.png" alt="mail"></a></li>
    <li><a href="https://github.com/Elanis" target="_blank"><img src="@ViewData["cdnURL"]img/github.png" alt="github"></a></li>
    <li><a href="https://twitter.com/ElanisGaming" target="_blank"><img src="@ViewData["cdnURL"]img/twitter.png" alt="twitter"></a></li>
</ul>